#Frontend Vite
VITE_API_URL=http://localhost:3000
FRONTEND_PORT=5173

#Backend (express)
NODE_ENV=development
PORT=3000

#Allowed origins by CORS, below is example of possible origins. if using a VM for development insert the IP address of dev environment like in the example below
ALLOWED_ORIGINS=http://localhost:5173,http://<IP_address_of_dev_environment>:5173

#Port mapping (host -> container)
BACKEND_EXPOSED_PORT=3000
FRONTEND_EXPOSED_PORT=5173
DB_EXPOSED_PORT=5432
DB_PORT=5432

#PostgreSQL container settings
POSTGRES_DB=<insert_db_name_here>
POSTGRES_USER=<insert_db_user_here>
POSTGRES_PASSWORD=<insert_db_password_here>

#Backend data connection
DATABASE_URL=postgres://<insert_db_user_here>:<insert_db_password_here>@database:5432/<insert_db_name_here>

TMDB_TOKEN='<insert_API_use_token_here>'

#Run node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" to generate the JWT secret
JWT_SECRET='<insert_JWT_secret_here>'